# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
dist

# Environment
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea
*.swp

# Vercel
.vercel

# Testing
coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts
